<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->

  <li>
    <a href="https://orcid.org/0000-0002-8809-8676" itemprop="sameAs">
      <i class="ai ai-orcid-square ai-fw"></i> ORCID
    </a>
  </li>

  <li>
    <a href="https://www.researchgate.net/profile/Carlos-Fernandez-Basso" itemprop="sameAs">
      <i class="ai ai-researchgate-square ai-fw"></i> ResearchGate
    </a>
  </li>